body, html {
     background-color: #3e82d4;
     font-family: 'Times New Roman', Times, serif;
     margin: 0;
     padding: 0;
     /*  height: 80%; */
     display: flex;
     justify-content: center;
     align-items: center; */
     text-overflow:default;
 }
 
 nav ul {
     list-style-type: none;
     padding: 0;
 }
 
 nav ul li {
     display: inline;
     margin: 0 15px;
     font-weight: bold;
     color: white
 }
 
 main {
     background-color: white;
     padding: 40px;
     margin: 50px;
     border-radius: 10px;
     margin-top: 120px; /* Adjust based on header height */
     margin-bottom: 100px;
     max-width: 800px;
     vertical-align:auto;
     height: calc(100vh - 200px); /* Adjust based on header height */
     overflow: hidden;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 /* styles.css */

 header h1 {
    margin: 0;
    color: #ffffff;
}

.profile {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
}


.left-column img {
    margin-bottom: 20px;
    padding-top: 30px; /* Add padding to the top of the image */
    padding-bottom: 30px; /* Add padding to the bottom of the image */
}

.logo-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

.social-links a {
    margin: 5px 0;
}

.right-column {
    max-width: 600px;
}

.right-column h3 {
    margin-top: 20px;
    color: #333;
}

.right-column p {
    margin: 10px 0;
    text-align: justify; /* Justify the paragraphs */
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;

}


section h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    /* position: relative; */
    width: 100%;
    bottom: 0;
}

/* styles.css */

/* body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
} */

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.profile {
    display: flex;
    align-items: flex-start;
}

.profile img {
    margin-right: 20px;
    align-items:center
}

.profile-text {
    max-width: 600px;
}

.profile-text h3 {
    margin-top: 20px;
    color: #333;
}

.profile-text p {
    margin: 10px 0;
}

.profile-text p {
    margin: 10px 0;
    text-align: justify; /* Justify the paragraphs */
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}


.image-container {
    display: flex;
    overflow: hidden;
    width: 300px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    position: relative;
}
.image-container img {
    width: 100%;
    height: auto;
    position: absolute;
    right: -100%;
    transition: right 1s;
}