body {
     background-color: #3e82d4;
     font-family: 'Times New Roman', Times, serif;
     margin: 0;
     padding: 0;
 }
 

 nav ul {
     list-style-type: none;
     padding: 0;
 }
 
 nav ul li {
     display: inline;
     margin: 0 15px;
     font-weight: bold;
     color: white
 }
 
 main {
     background-color: white;
     padding: 20px;
     margin: 20px;
     border-radius: 8px;
 }
 
 footer {
     text-align: center;
     padding: 10px;
     position: relative;
     bottom: 0;
     width: 100%;
 }


 /* styles.css */

header {
    background-color: #333;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;

}

header h1 {
    margin: 0;
    color: hsl(253, 50%, 7%);
}


nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}